body {
  background-color: #fff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  #logo {
    width: 500px;
    max-width: 90%;
  }

  #readme {
    width: 900px;
    max-width: 90%;
    p {
      line-height: 1.4;
      font-size: 20px;
    }
    #download {
      line-height: 1.4;
      font-size: 25px;
      text-align: center;
      width: 100%;
      margin-top: 45px;
    }
  }
}

#tabs-video, #search-video, #visor-video, #profiles-video {
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  .video-container {
    width: 60%;
    margin: 15px;
    position: relative;
    display: flex;
    .wrapper-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .wrapper-2 {
        position: relative;
        video {
          width: 100%;
          border-radius: 4px;
        }
        .overlay {
          border-radius: 4px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 3px);
          background-color: #5af78e;
          opacity: 0.4;
          transition: all 0.4s;
          &:hover {
            opacity: 0;
          }
        }
      }
    }
  }
  .description {
    width: 40%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 50px;
      font-weight: 200;
    }
    ul {
      font-weight: 300;
      width: 75%;
      line-height: 1.4;
      font-size: 23px;
    }
  }
}

#search-video {
  flex-direction: row-reverse;
  .video-container .wrapper-1 .wrapper-2 .overlay {
    background-color: #5fcbd8;
  }
}
#visor-video .video-container .wrapper-1 .wrapper-2 .overlay {
  background-color: #f3f99d;
}
#profiles-video {
  flex-direction: row-reverse;
  .video-container .wrapper-1 .wrapper-2 .overlay {
    background-color: #ff5c57;
  }
}

@media only screen and (max-width: 768px) {
  #tabs-video, #search-video, #visor-video, #profiles-video {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .video-container {
    margin-top: 30px;
  }
  .video-container, .description {
    width: calc(100% - 30px) !important;
  }

  .description ul {
    width: 85% !important;
  }

  #main #logo {
    max-width: 45%;
  }
}

#np-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.github-button-container {
  position: absolute;
  right: 10px;
  top: 10px;
}
