::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border: 3px solid var(--background-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color);
  border: 0 solid var(--background-color);
  border-radius: 0;
}

html, body {
  font-family: "Menlo";
  font-size: 16px;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  overflow-y: hidden;
  background-color: var(--background-color);
  user-select: none;
}

select, input {
  font-family: "Menlo";
  font-size: 16px;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.gap-10 {
  gap: 10px;
}
.justify-between {
  justify-content: space-between;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h4 {
  color: var(--color);
  font-size: 20px;
}
.w-270 {
  width: 270px;
}
.w-175 {
  width: 175px;
}
.w-400 {
  width: 400px;
}
.w-100 {
  width: 100px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
section {
  color: var(--color);
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.flex-1 {
  flex: 1;
}
.w-60p {
  width: 60%;
}


#keybindings {
  height: 300px;
}
#keybindings article {
  background: var(--text-input-background);
  border: 1px solid var(--text-input-border-bottom-color);
  border-radius: 5px;
  height: 80%;
}
#keybindings article > div {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  border-radius: 5px;
  padding-left: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  cursor: pointer;
  -webkit-user-select: none;
}

#keybindings div.active[data-controller="keybinding"],
#profiles div.active[data-controller="profile"] {
  background: var(--selection-background);
  color: var(--selection-text-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}
dialog {
  background-color: var(--background-color);
  width: 300px;
  height: 125px;
  border-radius: 7px;
  border: 1px solid var(--text-input-border-bottom-color);
  padding: 0px;
}
dialog::backdrop {
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
}
dialog[data-controller*="profile-capturer"] {
  height: 100px;
}

dialog .footer {
  gap: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
button.ok {
  border: none;
  color: var(--selection-text-color);
  border-radius: 5px;
  padding: 2px 20px;
  background-image: var(--modal-active-button-background);
  font-family: "Menlo";
  font-size: 13px;
  letter-spacing: 0.5px;
  -webkit-user-select: none;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  button.ok {
    border-top: 1px solid rgb(81, 132, 227);
  }
}
@media (prefers-color-scheme: light) {
  button.ok {
    border-top: 1px solid rgb(245, 248, 255);
    border-bottom: 1px solid rgb(222, 234, 254);
  }
}
@media (prefers-color-scheme: dark) {
  button.ok:active {
    background-image: linear-gradient(rgb(69, 146, 223), rgb(77, 159, 235));
    border-top: 1px solid rgb(102, 176, 240);
  }
}
@media (prefers-color-scheme: light) {
  button.ok:active {
    background-image: linear-gradient(rgb(20, 125, 235), rgb(0, 102, 235));
    border-top: 1px solid rgb(242, 248, 255);
    border-bottom: 1px solid rgb(215, 234, 255);
  }
}
button.cancel {
  border: none;
  color: var(--color);
  border-radius: 5px;
  padding: 2px 15px;
  background: var(--modal-inactive-button-background);
  font-family: "Menlo";
  font-size: 13px;
  -webkit-user-select: none;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  button.cancel {
    border-top: 1px solid rgb(108, 105, 105);
  }
}
@media (prefers-color-scheme: light) {
  button.cancel {
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
  }
}
@media (prefers-color-scheme: dark) {
  button.cancel:active {
    background-image: linear-gradient(rgb(69, 146, 223), rgb(77, 159, 235));
    border-top: 1px solid rgb(102, 176, 240);
  }
}
@media (prefers-color-scheme: light) {
  button.cancel:active {
    background-image: linear-gradient(rgb(20, 125, 235), rgb(0, 102, 235));
    border-top: 1px solid rgb(242, 248, 255);
    border-bottom: 1px solid rgb(215, 234, 255);
    color: #FFFFFF;
  }
}
@media (prefers-color-scheme: dark) {
  button.cancel:active + button.ok {
    background: rgb(88, 85, 85);
    border-top: 1px solid rgb(108, 105, 105);
  }
}
@media (prefers-color-scheme: light) {
  button.cancel:active + button.ok {
    background: #FFFFFF;
    color: var(--color);
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(212, 212, 212);
    border-left: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
  }
}

@media (prefers-color-scheme: dark) {
  #key-recorder {
    background-color: var(--text-input-background);
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: 3px;
    text-align: center;
    padding-left: 7px;
    padding-right: 1px;
  }
  #key-recorder.recording {
    background-image: linear-gradient(rgb(47, 106, 222), rgb(42, 94, 198));
  }
}
@media (prefers-color-scheme: light) {
  #key-recorder {
    background-color: var(--text-input-background);
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: 3px;
    text-align: center;
    padding-left: 7px;
    padding-right: 1px;
  }
  #key-recorder.recording {
    background-image: var(--modal-active-button-background);
    color: #FFFFFF;
    border: 1px solid var(--text-input-border-bottom-color);
  }
}

.keybinding-actions, .profile-actions {
  width: 430px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.keybinding-actions .plus, .keybinding-actions .minus, .profile-actions .plus, .profile-actions .minus {
  padding: 2px 8px;
  background-color: var(--text-input-background);
  border-top: 1px solid var(--text-input-border-bottom-color);
  border-left: 1px solid var(--text-input-border-bottom-color);
  border-bottom: 1px solid var(--text-input-border-bottom-color);
  -webkit-user-select: none;
  cursor: pointer;
}
.keybinding-actions .minus, .profile-actions .minus {
  border-right: 1px solid var(--text-input-border-bottom-color);
}
.keybinding-actions .plus:active, .keybinding-actions .minus:active,
.profile-actions .plus:active, .profile-actions .minus:active {
  background-color: rgb(99, 99, 99);
}

#profiles {
  height: 300px;
}
#profiles article {
  background: var(--text-input-background);
  border: 1px solid var(--text-input-border-bottom-color);
  border-radius: 5px;
  height: 80%;
}
#profiles article > div {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  border-radius: 5px;
  padding-left: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  -webkit-user-select: none;
  cursor: pointer;
}
