array-field array-element {
  display: flex;
  position: relative;
}
array-field array-element remove-element {
  position: absolute;
  right: 0;
  top: -10px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}
array-field array-element:hover remove-element {
  opacity: 1;
  visibility: visible;
}
array-field array-element div:first-child {
  margin-right: 5px;
}
array-field array-element div:nth-child(2) {
  margin-left: 5px;
}
array-field create-element {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #889199;
  font-family: AdamPro;
  letter-spacing: 2px;
}

array-field create-element:hover {
  color: var(--color);
}
