switch-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 300;
  position: relative;
  margin-bottom: 15px;
  color: var(--color);
}
switch-field input {
  display:none;
}
switch-field label {
  display: inline-block;
  width: 50px;
  height: 22px;
  position: relative;
}
switch-field .slider {
  cursor: pointer;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--accent-color);
  transition: .4s;
  border-radius: 30px;
  height: 1px;
  width: 50px;
  position: absolute;
}
switch-field .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  top: -10px;
  background-color: var(--background-color);
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #FF1744;
}
switch-field input:checked + .slider:before {
  transform: translateX(28px);
  border: 1px solid #00E676;
}
