color-field .color-picker {
  position: absolute;
  top: 39px;
  width: 100%;
}

color-field .color-picker .chrome-picker {
  width: 100% !important;
  border-radius: 0px !important;
}

color-field .color-picker .chrome-picker div:first-child {
  border-radius: 0px !important;
}
