/* normalization and helpers */

*::selection {
  background: var(--selection-color);
}

@media (min-resolution: 2dppx) {

  * {
    text-rendering: geometricPrecision;
  }
}

html,
body,
#root,
archipelago-app {
  height: 100%;
  -webkit-font-feature-settings: "liga" off, "calt" off;
}

@keyframes pulse {

  from {
    opacity: 1;
  }

  50% {
    opacity: .3;
  }

  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border: 3px solid var(--background-color);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

:root {
  --background-color: #000;
  --selection-color: rgba(255, 255, 255, .3);
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tab-font-size: 15px;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
  border: 0 solid var(--background-color);
  border-radius: 0;
}

/* Boot screen */

#boot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms linear 800ms, visibility 300ms linear 800ms;
}

#boot img {
  width: 25%;
}

#boot.calculating {
  visibility: hidden;
  opacity: 0;
}

#boot #progress-container {
  width: 200px;
  height: 1px;
  position: fixed;
  top: 63%;
}

#boot #progress-container #progress-bar {
  width: 0;
  height: 1px;
  background: #000;
  transition: width 1000ms linear;
}

#boot.calculating #progress-container #progress-bar {
  width: 100%;
}

.xterm .xterm-viewport {
  -webkit-transition: all .5s;
  opacity: 0;
}

.terminal .xterm-viewport {
  background-color: transparent;
}

.xterm .xterm-viewport:hover,
.xterm.scrolling .xterm-viewport {
  opacity: 1;
  -webkit-transition: all .5s;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

archipelago-terminal {
  display: flex;
  flex: 1;
  height: 100%;
}

.terminal {
  width: 100%;
}

.xterm {
  background-color: transparent;
  padding: 5px 0 10px 15px;
}

/* ArchipelagoApp */

archipelago-app {
  display: flex;
  flex-direction: column;
}

/* Panes */

archipelago-pane-list {
  display: block;
  flex: 1;
}

archipelago-pane-list archipelago-pane {
  margin: 0;
  overflow-y: hidden;
  display: block;
  height: calc(100% - 10px);
  position: relative;
}

/* Titlebar and Tabs */

archipelago-tab-list {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  height: 40px;
}

archipelago-tab-list archipelago-tab {
  color: var(--tab-color);
  filter: invert(50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: all .3s ease;
  min-width: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 18px !important;
  position: relative;
}

archipelago-tab-list archipelago-tab:not(.active)::after {
  position: absolute;
  content: "";
  height: 1px;
  background: var(--tab-border-color);
  transition: all .15s linear;
  width: 0;
  bottom: 0;
}

archipelago-tab-list archipelago-tab:hover::after {
  width: 100%;
}

archipelago-tab-list archipelago-tab.active {
  filter: invert(0%);
}

archipelago-tab-list archipelago-tab.active::after {
  position: absolute;
  content: "";
  height: 1px;
  background: var(--tab-border-color);
  width: 100%;
  bottom: 0;
}

archipelago-tab div {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 20px;
}

archipelago-tab-list archipelago-tab:first-child:nth-last-child(1) div {
  display: none;
}

archipelago-tab-list archipelago-tab span {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75%;
}

archipelago-tab.is-unread span {
  animation: pulse 2s infinite;
}

/* Splitting */

.Resizer.horizontal,
.Resizer.vertical {
  background-color: var(--background-color);
  filter: invert(50%);
  box-sizing: border-box;
  z-index: 1;
  background-clip: padding-box;
  flex-shrink: 0;
}

.Resizer.horizontal {
  height: 7px;
  border-top: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Pane.Pane2.horizontal {
  display: flex;
}

.Resizer.vertical {
  width: 7px;
  margin: 0 -3px;
  border-left: 3px solid rgba(255, 255, 255, 0);
  border-right: 3px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
