body {
  margin: 0px;
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

.terminal {
  font-family: Menlo, "DejaVu Sans Mono", "Lucida Console", monospace !important;
  font-size: 15px !important;
  line-height: 18px !important;
  margin-left: 15px;
  margin-top: 25px;
}
#titlebar {
  height: 25px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-app-region: drag;
}



:root {
  --cursor-color: #fff;
  --background-color: #000;
}
.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid var(--cursor-color);
}

.terminal.xterm-cursor-style-block.focus:not(.xterm-cursor-blink-on) .terminal-cursor {
    background-color: var(--cursor-color);
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before,
.terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
    background-color: var(--cursor-color);
}
.terminal {
  background-color: transparent;
}
.terminal .xterm-viewport {
  background-color: transparent;
}
.xterm.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 255;
}
