@media (min-resolution: 2dppx) {
  * {
      text-rendering: geometricPrecision;
  }
}

html, body {
  height: 100%;
  -webkit-font-feature-settings: "liga" off, "calt" off;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar:hover, ::-webkit-scrollbar:active {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

archipelago-terminal {
  display: flex;
  flex: 1;
  height: 100%;
}
.tab-container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: hidden;
}
.terminal-container {
  height: 100%;
  flex: 1;
  display: flex;
}
.terminal-container.horizontal {
  flex-direction: row;
}
.terminal-container.vertical {
  flex-direction: column;
}
archipelago-tab {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 18px !important;
  position: relative;
}
archipelago-tab div {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 20px;
}
.terminal {
  margin: 40px 15px 10px 15px;
  width: 100%;
}
#titlebar {
  height: 40px;
  width: calc(100% - 70px);
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
}
#titlebar archipelago-tab {
  height: 100%;
  color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: all 0.3s ease;
}
#titlebar archipelago-tab.active {
  color: #fff;
}

.hidden {
  display: none;
}

:root {
  --background-color: #000;
  /*--background-color: rgb(234, 234, 234);*/
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --tab-font-size: 15px;
}

.xterm {
  background-color: transparent;
}
.terminal .xterm-viewport {
  background-color: transparent;
}
.terminal-container.horizontal > .separator {
  width: 1px;
  height: 100%;
  background-color: black;
  margin-top: 40px;
  cursor: col-resize;
}
.terminal-container.vertical > .separator {
  height: 1px;
  width: 100%;
  background-color: black;
  cursor: row-resize;
}

.xterm-viewport {
  margin-right: -15px;
}
