:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size: 14px;
  /*--mdc-theme-primary: #fff !important;*/
  /*--mdc-theme-text-primary-on-primary-light: #fff !important;*/
}

@media (min-resolution: 2dppx) {
  * {
      text-rendering: geometricPrecision;
  }
}
html, body {
  -webkit-font-feature-settings: "liga" off, "calt" off;
  font-family: var(--font-family) !important;
  background-color: rgb(248, 248, 248);
  color: #000;
}

body {
  margin: 0px;
}
#titlebar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
  font-size: var(--font-size);
}

input, label {
  font-size: var(--font-size);
  font-family: var(--font-family) !important;
}

form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
form .standardSettings {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.switch-container {
  display: flex;
  flex-direction: row;
}
.switch-container label {
  flex: 1;
}

.theme input[type="text"] {
  border: 0;
  text-align: end;
}
.theme {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.color-field {
  padding-top: 10px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.color-field label {
  flex:1;
}
