:root {
  --mdc-theme-primary: #000 !important;
}

html, body {
  background-color: rgb(248, 248, 248);
  color: #000;
  font-family: Roboto, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
}
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
  background: rgb(248, 248, 248);
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background: rgb(106, 106, 106);
}
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  -webkit-border-radius: 0ex;
}
::-webkit-scrollbar-corner {
  background: rgb(248, 248, 248);
}

#titlebar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-app-region: drag;
  align-items: center;
  user-select: none;
  cursor: default;
  font-size: 15px;
}

form #standardSettings .container {
  max-width: 550px;
}
section {
  width: 550px;
}
form text-field, form select-field, form switch-field, form .profilesContainer {
  width: 250px;
}
#theme {
  width: 400px;
}
.mdc-select {
  width: 100% !important
}
.panels .panel {
  display: none !important;
}
.panels .panel.active {
  display: flex !important;
}
.newProfile {
  margin-top: 16px;
}

.d-flex                 { display: flex;                 }
.flex-column            { flex-direction: column;        }
.flex-row               { flex-direction: row;           }
.wrap                   { flex-wrap: wrap;               }
.justify-content-around { justify-content: space-around; }
.justify-content-center { justify-content: center;       }
.align-items-base       { align-items: baseline;         }
.align-items-end        { align-items: flex-end;         }
.m-0                    { margin: 0;                     }
.mb-0                   { margin-bottom: 0;              }
.mt-6                   { margin-top: 48px;              }
.mb-6                   { margin-bottom: 48px;           }
