#search, #search[data-theme^="light"] {
  --color: #424242;
  --accent-color: #9E9E9E;
  --background-color: #F5F5F5;
  --opaque-background: rgba(245, 245, 245, 0.2);
  --opaque-color: rgba(66, 66, 66, 0.5);
}
#search[data-theme^="dark"] {
  --color: #F5F5F5;
  --accent-color: #BDBDBD;
  --background-color: #393736;
  --opaque-background: rgba(57, 55, 54, 0.2);
  --opaque-color: rgba(238, 238, 238, 0.5);
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-app-region: drag;
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  overflow-y: hidden;
}
#search {
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-app-region: drag;
  height: 100%;
}
#search minimize-button, #search close-button, #search maximize-button {
  z-index: 100 !important;
}

input-field {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
input-field label {
  color: var(--accent-color);
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 34px;
  transition: all 250ms ease-in-out;
  z-index: 1;
}
input[type='text'] {
  width: 100%;
  color: var(--color);
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  padding: 0px;
  padding-bottom: 5px;
  outline: none;
  transition: transform 250ms ease-in-out;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 300;
  z-index: 1;
  background: transparent;
}
input-field input[type='text'][value=''] + label {
  bottom: 5px;
  font-size: 24px;
  font-weight: 300;
}
.input-border:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--accent-color);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
    z-index: 1;
  }
input:focus + label + .input-border:after {
  transform: scaleX(1);
}

switch-field {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 24px;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
 font-weight: 300;
 position: relative;
 color: var(--color);
 margin-bottom: 5px;
 width: 100%;
}
switch-field input {
 display:none;
}
switch-field label {
 display: inline-block;
 width: 50px;
 height: 22px;
 position: relative;
}
switch-field .slider {
 cursor: pointer;
 top: 12px;
 left: 0;
 right: 0;
 bottom: 0;
 border-bottom: 1px solid var(--accent-color);
 transition: .4s;
 border-radius: 30px;
 height: 1px;
 width: 50px;
 position: absolute;
}
switch-field .slider:before {
 position: absolute;
 content: "";
 height: 20px;
 width: 20px;
 left: 0px;
 top: -10px;
 background-color: var(--background-color);
 transition: .4s;
 border-radius: 30px;
 border: 1px solid #FF1744;
}
switch-field input:checked + .slider:before {
 transform: translateX(28px);
 border: 1px solid #00E676;
}

#search-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
#search-buttons svg {
  width: 12px;
  height: 24px;
}
#search-buttons #search-next-button svg {
  margin-left: 15px;
}
#search-buttons #search-previous-button svg {
  margin-right: 15px;
}
#search-buttons #search-next-button, #search-buttons #search-previous-button {
  cursor: pointer;
  user-select: none;
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: flex-end;
}
#search-buttons #search-next-button:active, #search-buttons #search-previous-button:active {
  filter: invert(50%);
}
