#search, #search[data-theme^="light"] {
  --color: #424242;
  --accent-color: #9E9E9E;
  --background-color: #F5F5F5;
  --opaque-background: rgba(245, 245, 245, 0.2);
  --opaque-color: rgba(66, 66, 66, 0.5);
}
#search[data-theme^="dark"] {
  --color: #F5F5F5;
  --accent-color: #BDBDBD;
  --background-color: #393736;
  --opaque-background: rgba(57, 55, 54, 0.2);
  --opaque-color: rgba(238, 238, 238, 0.5);
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-app-region: drag;
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  overflow-y: hidden;
}
#search {
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-app-region: drag;
  height: 100%;
}
#search minimize-button, #search close-button, #search maximize-button {
  z-index: 100 !important;
}

#search-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}
#search-buttons svg {
  width: 12px;
  height: 24px;
}
#search-buttons #search-next-button svg {
  margin-left: 15px;
}
#search-buttons #search-previous-button svg {
  margin-right: 15px;
}
#search-buttons #search-next-button, #search-buttons #search-previous-button {
  cursor: pointer;
  user-select: none;
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: flex-end;
}
#search-buttons #search-next-button:active, #search-buttons #search-previous-button:active {
  filter: invert(50%);
}
