!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1", name:  "viewport"}
    %meta{ name: "theme-color", content: "#fff" }
    %title Archipelago
    = favicon_tag 'archipelago.png'
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body= yield
