!!!
%html{ lang: :en }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{content: "width=device-width, initial-scale=1", name:  "viewport"}
    %meta{ name: "theme-color", content: "#fff" }
    %meta{ name: "description", content: "Archipelago is an open-source terminal emulator built on web technology" }
    %title Archipelago
    = favicon_tag 'archipelago.png'
    = stylesheet_link_tag :site
    = javascript_include_tag :site
    %script{ async: true, defer: true, src: "https://buttons.github.io/buttons.js" }
  %body= yield
