.github-button-container
  = link_to "Star", "https://github.com/npezza93/archipelago", "data-size" => :large, "aria-label" => "Star npezza93/archipelago on GitHub", class: "github-button"

#main
  = image_tag "logo.png", id: :logo

  #readme
    :markdown
      Archipelago is inspired by [Hyper](https://github.com/zeit/hyper). I
      started using Hyper as my default terminal while it was in beta and into
      v1. It was by far the coolest, best looking, minimal, and extensible
      terminal emulator I had used. But, I found it to be really slow, to the
      point where if I was going to run a command that I knew would have a lot of
      output, I would opt for using a different terminal. Along with that,
      occasionally buffers would overlap making the terminal unreadable and
      force me to restart.

      At the time Hyper was using [Hterm](https://github.com/chromium/hterm)
      which was the culprit of all my issues, so I found the
      [Xterm.js](https://xtermjs.org/) project which solved all these problems
      and I started making Archipelago. Archipelago works on macOS, Linux, and
      Windows, supports themeing which can be saved to a profile, searching
      through the scrollback, a visor pop over, pane splitting, system tests,
      and much more.

    %p#download= link_to "Download now!", "https://archipelago-terminal.herokuapp.com/download", rel: :nofollow

#vids
  #tabs-video
    .video-container
      .wrapper-1
        .wrapper-2
          %video{ src: image_path('tabs.mov'), loop: true }
          .overlay
    .description
      %h2 Tabs
      %ul
        %li Create multiple tabs
        %li Split panes vertically and horizontally
        %li Resize panes by clicking and dragging boundaries
        %li If you're primarily a TMUX user, you can enable Single Tab Mode and remove the tab bar
  #search-video
    .video-container
      .wrapper-1
        .wrapper-2
          %video{ src: image_path('search.mov'), loop: true }
          .overlay
    .description
      %h2 Search
      %ul
        %li Search for text in the pane
        %li Search by regex, whole words, or respect case sensitivity
        %li Search forward or backward
  #visor-video
    .video-container
      .wrapper-1
        .wrapper-2
          %video{ loop: true }
            %source{ src: image_path('visor.mov'), type: "video/mp4" }
            %source{ src: image_path('visor.webm'), type: "video/webm" }
          .overlay
    .description
      %h2 Visor
      %ul
        %li Press a configurable hotkey to bring a terminal into focus, even when you are in a different application
  #profiles-video
    .video-container
      .wrapper-1
        .wrapper-2
          %video{ loop: true }
            %source{ src: image_path('profiles.mov'), type: "video/mp4" }
            %source{ src: image_path('profiles.webm'), type: "video/webm" }
          .overlay
    .description
      %h2 Profiles
      %ul
        %li Store settings into a named profile
        %li Store any number of profiles
        %li Quickly switch between profiles

  %a#np-logo{ href: "https://pezza.co" }
    %svg{ "preserve-aspect-ratio" => "xMidYMid meet", version: "1.0", viewbox: "0 0 2000.000000 2000.000000", width: "75", xmlns: "http://www.w3.org/2000/svg" }
      %g{ fill: "#000000", stroke: "none", transform: "translate(0.000000,2000.000000) scale(0.100000,-0.100000)" }
        %path{ d: "M9535 19600 c-1620 -84 -3135 -542 -4510 -1363 -1070 -639 -2025 -1501 -2782 -2512 -1428 -1908 -2095 -4257 -1887 -6650 163 -1881 876 -3673 2052 -5155 396 -499 864 -982 1342 -1386 1492 -1261 3326 -2039 5260 -2233 324 -33 472 -41 825 -48 1392 -25 2735 241 4030 799 190 81 645 307 834 413 665 373 1270 808 1821 1310 140 127 483 470 620 620 883 965 1563 2099 1994 3326 578 1647 698 3449 345 5169 -337 1639 -1087 3144 -2204 4425 -193 220 -673 701 -890 890 -900 783 -1896 1381 -2980 1788 -897 336 -1781 526 -2780 597 -203 15 -880 21 -1090 10z m-1115 -7662 l1485 -2161 3 2162 2 2161 1388 0 c1377 0 1564 -4 1832 -36 622 -73 1141 -274 1550 -600 113 -90 318 -296 411 -414 441 -553 650 -1205 651 -2025 0 -254 -11 -410 -42 -617 -119 -785 -499 -1438 -1100 -1892 -350 -264 -793 -451 -1280 -540 -287 -52 -501 -66 -1022 -66 l-428 0 0 -1060 0 -1060 -978 0 -979 0 -1664 2585 -1664 2585 -3 -2585 -2 -2585 -960 0 -960 0 0 4155 0 4155 1138 0 1137 -1 1485 -2161z" }
        %path{ d: "M5051 13793 c62 -100 4842 -7539 4850 -7547 5 -6 9 606 9 1551 l0 1562 -1557 2235 -1556 2236 -884 0 -885 0 23 -37z" }
        %path{ d: "M10180 9935 l0 -3895 703 0 704 0 6 1598 c4 878 7 2316 7 3195 l0 1597 663 0 c364 0 706 -5 761 -10 254 -25 442 -113 622 -294 220 -220 343 -494 383 -858 14 -123 14 -474 1 -609 -33 -325 -114 -581 -245 -764 -49 -68 -159 -177 -225 -222 -99 -67 -223 -117 -370 -150 -64 -13 -169 -17 -697 -20 l-623 -4 0 -661 0 -660 518 5 c540 5 626 11 877 57 596 112 1077 357 1454 740 372 379 612 863 704 1420 36 217 47 364 47 622 0 307 -21 518 -76 768 -148 673 -526 1239 -1064 1593 -326 214 -756 358 -1245 416 -217 26 -454 31 -1647 31 l-1258 0 0 -3895z" }
        %path{ d: "M4930 9772 l0 -3752 690 0 690 0 0 2683 0 2684 -681 1059 c-375 582 -686 1063 -690 1069 -5 5 -9 -1612 -9 -3743z" }
        %path{ d: "M11870 10965 l0 -1196 613 4 c594 3 615 4 697 26 338 88 519 349 575 831 20 165 19 505 0 653 -36 277 -137 493 -309 662 -93 92 -197 152 -323 187 -75 21 -101 22 -665 26 l-588 3 0 -1196z" }
