@media (prefers-color-scheme: light) {
  body {
    --color: #424242;
    --background-color: #F5F5F5;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --color: #F5F5F5;
    --background-color: #393736;
  }
}

.title {
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 25px !important;
  text-transform: uppercase;
}
html, body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  height: 100%;
  margin: 0;
  font-size: 15px;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

svg g {
  fill: var(--color) !important;
}
svg.project-logo {
  max-width: 104px;
  max-height: 104px;
  margin-top: 0;
}
img.np-logo {
  margin-bottom: 15px;
}
p {
  text-align: center;
  font-weight: 300;
  padding: 0 10px;
}

.centered_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--color);
}
.font-weight-500 { font-weight: 500; }
.m-0 { margin: 0; }
