@font-face {
  font-family: AdamPro;
  src: url("../fonts/adam_pro.otf") format("opentype");
}
#about, #about[data-theme^="light"] {
  --color: #424242;
  --background-color: #F5F5F5;
}
#about[data-theme^="dark"] {
  --color: #F5F5F5;
  --background-color: #393736;
}

.title {
  font-family: AdamPro;
  font-size: 26px;
  letter-spacing: 4px;
  margin-bottom: 25px !important;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  height: 100%;
  margin: 0;
}

svg g {
  fill: var(--color) !important;
}
#app {
  height: 100%;
}
#about {
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-app-region: drag;
}
#about svg.project-logo {
  max-width: 104px;
  max-height: 104px;
  margin-top: 0;
}
#about img.np-logo {
  margin-bottom: 15px;
}
#about p {
  text-align: center;
  font-weight: 300;
}

#about .centered_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about a {
  text-decoration: none;
  color: var(--color);
}
#about .font-weight-500 { font-weight: 500; }
#about .m-0 { margin: 0; }

#about minimize-button, #about close-button, #about maximize-button {
  z-index: 100 !important;
}
