/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border: 3px solid #FFF;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

:root {
  --mdc-theme-primary: #000 !important;
  --mdc-theme-secondary: #000 !important;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
  border: 0 solid #FFF;
  border-radius: 0;
}

html,
body {
  background-color: #FFF;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
}

input,
.mdc-form-field {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

#titlebar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  align-items: center;
  user-select: none;
  cursor: default;
  font-size: 15px;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

/* Profiles */

.profiles-container {
  height: 100vh;
  width: 275px;
  background-image: linear-gradient(to right, #F7F7FA, #ECEEF2);
  transition: left .5s ease-in-out;
  left: 0;
  position: absolute;
  z-index: 10;
}

.profiles-container archipelago-profiles {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profiles-container archipelago-profiles ::-webkit-scrollbar-thumb {
  background: #666;
  border: 3px solid #ECEEF2;
}

.profiles-container archipelago-profiles ::-webkit-scrollbar,
.profiles-container archipelago-profiles ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.profiles-container archipelago-profiles ::-webkit-scrollbar-thumb:active {
  background: #666;
  border: 0 solid #ECEEF2;
  border-radius: 0;
}

.profiles-container archipelago-profiles .profile-header {
  text-transform: uppercase;
  color: #889199;
  font-weight: 600;
  font-size: 14px;
  padding: 80px 36px 24px 36px;
}

.profiles-container archipelago-profiles .profile-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.profiles-container archipelago-profiles .profile-list archipelago-profile {
  padding: 16px 36px 16px 36px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: 400;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  position: relative;
  z-index: 15;
}

.profiles-container archipelago-profiles .profile-list archipelago-profile .profile-remove {
  position: absolute;
  left: 15px;
  bottom: 17px;
  visibility: hidden;
  z-index: 20;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.profiles-container archipelago-profiles .profile-list archipelago-profile:hover .profile-remove {
  opacity: 1;
  visibility: visible;
}

.profiles-container archipelago-profiles .profile-list archipelago-profile.active,
.profiles-container archipelago-profiles .profile-list archipelago-profile:hover {
  background: rgba(0, 0, 0, .16);
}

.profiles-container archipelago-profiles .profile-list archipelago-profile input {
  border: 0;
  background: transparent;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

.profiles-container archipelago-profiles .new-profile {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #889199;
}

.profiles-container archipelago-profiles .new-profile:hover {
  color: #424242;
}

/* Options */

.options-container {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 275px;
  width: calc(100% - 275px);
  flex: 1;
  transition: left .5s ease-in-out, width .5s ease-in-out;
}

archipelago-properties-pane {
  display: block;
  height: 100%;
}

archipelago-properties-pane archipelago-header {
  padding-left: 75px;
  height: 125px;
  position: fixed;
  width: calc(100% - 362px);
  background-color: rgba(255, 255, 255, .2);
  z-index: 2;
}

archipelago-properties-pane archipelago-header::before {
  content: " ";
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 1px;
  width: calc(100% - 2px);
  height: 100%;
  z-index: -1;
}

archipelago-properties-pane archipelago-header div,
archipelago-properties-pane archipelago-header div[position = "0"] {
  font-size: 23px;
  font-weight: 700;
  color: #000;
  position: absolute;
  top: 73px;
  transition: all .3s ease-in-out;
  opacity: 1;
}

archipelago-properties-pane archipelago-header div[position = "-2"] {
  font-size: 11px;
  font-weight: 500;
  color: #889199;
  top: 40px;
  opacity: 0;
  transition: all .3s ease-in-out;
}

archipelago-properties-pane archipelago-header div[position = "-1"] {
  font-size: 14px;
  font-weight: 500;
  color: #889199;
  top: 50px;
  transition: all .3s ease-in-out;
}

archipelago-properties-pane archipelago-header div[position = "1"] {
  opacity: 0;
  top: 100px;
  font-size: 26px;
}

archipelago-properties-pane archipelago-header::after {
  content: " ";
  backdrop-filter: blur(1px);
  position: absolute;
  bottom: -5px;
  left: 1px;
  width: calc(100% - 2px);
  height: 10px;
  z-index: -1;
}

/* General Options */

archipelago-properties-pane archipelago-properties-section {
  margin: 130px 75px 0 75px;
  display: flex;
  align-items: center;
  min-height: calc(100% - 130px);
}

archipelago-properties-pane archipelago-properties-section archipelago-properties-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  width: 100%;
}

archipelago-properties-pane archipelago-properties-section .seperator {
  grid-column: span 2;
  height: 48px;
}

archipelago-properties-pane archipelago-properties-section .mdc-form-field {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

archipelago-properties-pane archipelago-properties-section .mdc-text-field {
  margin-top: 8px !important;
  bottom: 0 !important;
}

archipelago-properties-pane archipelago-properties-section .vibrancy-option {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  width: 100%;
}

archipelago-properties-pane .color-container .mdc-text-field {
  margin-top: 8px !important;
  bottom: 0 !important;
  width: 100% !important;
}

archipelago-properties-pane .color-container .mdc-text-field .color-picker {
  position: absolute;
  top: 48px;
  width: 100%;
}

archipelago-properties-pane .color-container .mdc-text-field .chrome-picker {
  width: 100% !important;
}

/* Keybindings */

archipelago-properties-pane .array-element-container {
  display: flex;
  position: relative;
}

archipelago-properties-pane .array-element-container .remove-array-element {
  position: absolute;
  right: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

archipelago-properties-pane .array-element-container:hover .remove-array-element {
  opacity: 1;
  visibility: visible;
}

archipelago-properties-pane .array-element-container div:first-child {
  margin-right: 5px;
}

archipelago-properties-pane .array-element-container div:nth-child(2) {
  margin-left: 5px;
}

archipelago-properties-pane .array-element-container .mdc-text-field {
  width: 100%;
}

archipelago-properties-pane .create-array-element {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #889199;
  grid-column: span 2;
}

archipelago-properties-pane .create-array-element:hover {
  color: #424242;
}

#hamburger {
  width: 15px;
  height: 12px;
  top: 46px;
  left: 32px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  display: flex;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  z-index: 10;
}

#hamburger div {
  height: 2px;
  background: #212121;
  border-radius: 3px;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

#backdrop.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {

  .profiles-container {
    left: -275px;
  }

  .options-container {
    left: 0;
    width: 100%;
  }

  #hamburger {
    opacity: 1;
    visibility: visible;
  }

  archipelago-properties-pane archipelago-header {
    width: calc(100% - 87px);
  }
}

@media (min-width: 699px) {

  .profiles-container {
    left: 0 !important;
  }

  #backdrop {
    display: none !important;
  }
}

@media (max-width: 910px) {

  archipelago-properties-section .mdc-text-field,
  archipelago-properties-section .mdc-select,
  archipelago-properties-section .mdc-form-field,
  archipelago-properties-pane .color-container,
  archipelago-properties-pane .array-element-container {
    grid-column: span 2;
  }
}

archipelago-properties-section .mdc-select .mdc-select__label {
  -webkit-transform: translateY(-100%) scale(.75);
  transform: translateY(-100%) scale(.75);
}
