@media (min-resolution: 2dppx) {
  * {
    text-rendering: geometricPrecision;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border: 3px solid var(--background-color);
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

:root {
  --background-color: none;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --terminal-padding: 5px 0 10px 15px;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
  border: 0 solid var(--background-color);
  border-radius: 0;
}

html, body, #app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.xterm .xterm-viewport {
  -webkit-transition: all 0.5s;
  opacity: 0;
}

.terminal .xterm-viewport {
  background-color: transparent;
}

.xterm .xterm-viewport:hover, .xterm.scrolling .xterm-viewport {
  opacity: 1;
  -webkit-transition: all 0.5s;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

archipelago-terminal, archipelago-terminal .wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
}

.terminal {
  width: 100%;
}

.xterm {
  background-color: transparent;
  padding: var(--terminal-padding);
}
