input[type="checkbox"] + span {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #606062;
  background-image: linear-gradient(#474749, #606062);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
  transition: all 0.15s ease;
}

input[type="checkbox"] + span svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}

input[type="radio"] + span {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #606062;
  background-image: linear-gradient(#474749, #606062);
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
  transition: all 0.15s ease;
}

input[type="radio"] + span:after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transform: scale(0);
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + span {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}

input[type="radio"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
  transition: all 0.15s ease;
}

input[type="checkbox"]:checked + span {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}

input[type="checkbox"]:checked + span svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}
