::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border: 3px solid var(--background-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color);
  border: 0 solid var(--background-color);
  border-radius: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  overflow-y: hidden;
  background-color: var(--background-color);
  user-select: none;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.gap-10 {
  gap: 10px;
}
.justify-between {
  justify-content: space-between;
}
.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
h4 {
  color: var(--color);
}
.w-270 {
  width: 270px;
}
.w-400 {
  width: 400px;
}
.w-100 {
  width: 100px;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
section {
  color: var(--color);
}
.text-center {
  text-align: center;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.flex-1 {
  flex: 1;
}
.w-60p {
  width: 60%;
}


#keybindings {
  height: 300px;
}
#keybindings article {
  background: var(--text-input-background);
  border: 1px solid var(--text-input-border-bottom-color);
  border-radius: 5px;
  height: 80%;
}
#keybindings article > div {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  border-radius: 5px;
  padding-left: 7px;
  padding-bottom: 2px;
}

#keybindings div.active[data-controller="keybinding"] {
  background: var(--selection-background);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}
.backdrop .modal {
  background-color: var(--background-color);
  width: 300px;
  height: 125px;
  position: fixed;
  top: calc(50% - 62px);
  left: calc(50% - 150px);
  border-radius: 7px;
  border: 1px solid var(--text-input-border-bottom-color);
}
.backdrop[data-controller="profile-capturer"] .modal {
  height: 100px;
  top: calc(50% - 50px);
}

.backdrop .footer {
  gap: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
button.ok {
  border: none;
  color: var(--color);
  border-radius: 6px;
  padding: 2px 20px;
  background-image: linear-gradient(rgb(47, 106, 222), rgb(42, 94, 198));
  border-top: 1px solid rgb(81, 132, 227);
}
button.ok:active {
  background-image: linear-gradient(rgb(69, 146, 223), rgb(77, 159, 235));
  border-top: 1px solid rgb(102, 176, 240);
}
button.cancel {
  border: none;
  color: var(--color);
  border-radius: 6px;
  padding: 2px 15px;
  background: rgb(88, 85, 85);
  border-top: 1px solid rgb(108, 105, 105);
}
button.cancel:active {
  background-image: linear-gradient(rgb(69, 146, 223), rgb(77, 159, 235));
  border-top: 1px solid rgb(102, 176, 240);
}
button.cancel:active + button.ok {
  background: rgb(88, 85, 85);
  border-top: 1px solid rgb(108, 105, 105);
}

#key-recorder {
  background-color: var(--text-input-background);
  border: 1px solid var(--color);
  color: var(--color);
  border-radius: 1px;
  text-align: center;
}
#key-recorder.recording {
  background-image: linear-gradient(rgb(47, 106, 222), rgb(42, 94, 198));
}

.keybinding-actions, .profile-actions {
  width: 430px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.keybinding-actions .plus, .keybinding-actions .minus, .profile-actions .plus, .profile-actions .minus {
  padding: 2px 8px;
  background-color: var(--text-input-background);
  border-top: 1px solid var(--text-input-border-bottom-color);
  border-left: 1px solid var(--text-input-border-bottom-color);
  border-bottom: 1px solid var(--text-input-border-bottom-color);
}
.keybinding-actions .minus, .profile-actions .minus {
  border-right: 1px solid var(--text-input-border-bottom-color);
}
.keybinding-actions .plus:active, .keybinding-actions .minus:active,
.profile-actions .plus:active, .profile-actions .minus:active {
  background-color: rgb(99, 99, 99);
}

#profiles {
  height: 300px;
}
#profiles article {
  background: var(--text-input-background);
  border: 1px solid var(--text-input-border-bottom-color);
  border-radius: 5px;
  height: 80%;
}
#profiles article > div {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  border-radius: 5px;
  padding-left: 7px;
  padding-bottom: 2px;
}
#profiles div.active[data-controller="profile"] {
  background: var(--selection-background);
}
