profiles-drawer {
  height: 100vh;
  width: 275px;
  background-image: linear-gradient(to right, #F7F7FA, #ECEEF2);
  transition: left .5s ease-in-out;
  left: -275px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 100%;
}
profiles-drawer.active {
  left: 0px;
}
profiles-drawer ::-webkit-scrollbar-thumb {
  background: #666;
  border: 3px solid #ECEEF2;
}
profiles-drawer ::-webkit-scrollbar, profiles-drawer ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
profiles-drawer ::-webkit-scrollbar-thumb:active {
  background: #666;
  border: 0 solid #ECEEF2;
  border-radius: 0;
}
profiles-drawer profiles-header {
  font-family: AdamPro;
  letter-spacing: 1px;
  color: #889199;
  font-size: 14px;
  padding: 80px 36px 24px 36px;
}
profiles-drawer profiles-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
profiles-drawer create-profile {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #889199;
  font-family: AdamPro;
  letter-spacing: 2px;
}
profiles-drawer create-profile:hover {
  color: #424242;
}
@media (max-width: 700px) {
  profiles-drawer {
    left: -275px;
  }
}
@media (min-width: 699px) {
  profiles-drawer {
    left: 0 !important;
  }
}
