properties-pane-container {
  background-color: var(--background-color);
  color: var(--color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 275px;
  width: calc(100% - 275px);
  flex: 1;
  transition: left .5s ease-in-out, width .5s ease-in-out;
  overflow-y: scroll;
}
properties-pane-container properties-pane {
  display: block;
  height: 100%;
}
@media (max-width: 700px) {
  properties-pane-container {
    left: 0;
    width: 100%;
  }
}
