properties-section {
  margin: 130px 75px 0 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 130px);
}

properties-section properties-section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  width: 100%;
  max-width: 350px;
}
