section-headers {
  padding-left: 75px;
  height: 125px;
  position: fixed;
  width: calc(100% - 362px);
  background-color: var(--opaque-background);
  z-index: 2;
  font-family: AdamPro;
  letter-spacing: 2px;
}
section-headers div.root {
  font-size: 32px;
  color: var(--color);
  position: absolute;
  top: 60px;
  opacity: 1;
}
section-headers div.root ~ div {
  font-size: 11px;
  font-weight: 500;
  color: #889199;
  top: 27px;
  opacity: 0;
}
section-headers div.root + div {
  font-size: 16px !important;
  color: #889199 !important;
  top: 37px !important;
  opacity: 1 !important;
}
section-headers div {
  color: var(--color);
  position: absolute;
  transition: all .3s ease-in-out;
  opacity: 0;
  top: 113px;
  font-size: 36px;
}
section-headers::before {
  content: " ";
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 1px;
  width: calc(100% - 2px);
  height: 100%;
  z-index: -1;
}
section-headers::after {
  content: " ";
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: -5px;
  left: 1px;
  width: calc(100% - 2px);
  height: 10px;
  z-index: -1;
}
@media (max-width: 700px) {
  section-headers {
    width: calc(100% - 87px);
  }
}
