@font-face {
  font-family: AdamPro;
  src: url("../fonts/adam_pro.otf") format("opentype");
}
#settings {
  --color: #424242;
  --accent-color: #9E9E9E;
  --background-color: #F5F5F5;
  --opaque-background: rgba(245, 245, 245, 0.2);
  --opaque-color: rgba(66, 66, 66, 0.5);
}
#settings[data-theme^="dark"] {
  --color: #F5F5F5;
  --accent-color: #BDBDBD;
  --background-color: #393736;
  --opaque-background: rgba(57, 55, 54, 0.2);
  --opaque-color: rgba(238, 238, 238, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border: 3px solid var(--background-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color);
  border: 0 solid var(--background-color);
  border-radius: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: "liga" off, "calt" off;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  overflow-y: hidden;
  height: 100%;
}
#titlebar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  align-items: center;
  user-select: none;
  cursor: default;
  font-size: 15px;
}

minimize-button, maximize-button, close-button {
  z-index: 100 !important;
}
maximize-button {
  right: 80px !important;
}
close-button {
  right: 32px !important;
}
